

* {
    scroll-behavior: smooth;

}

body {
    min-height: 100vh;
    display: flex;
    font-family: sans-serif;
    text-align: center;
    flex-direction: column;
    margin: 0;
    background-color: #F5F5F5;

}




/* Header */


.header__nav-item{
    display: inline;
    list-style: none;
    color: aliceblue;
    font-weight: 800;
    
} 

.header{
    background-color: #1a237f;
}

.header__nav a {
    color: #eee;
}

a {
    text-decoration: none;
    color: #0778e9;
    margin-right: 30px;
}





.main-center{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Login / registro */


/* Login */
.form__container{
    background-color: #eee;
    width: 240px;
    height: 260px;
    border-radius: 8px;
}



.form__container-reg{
    background-color: #eee;
    width: 240px;
    height: 300px;
    border-radius: 8px;
}


.input-form {
    display: inline-block;
    margin-bottom: 16px;
    padding: 6px 10px;
}

.button-form{
    padding: 2px 12px;
}





/* Tabla dueños */

.tabla__dueños{
    margin: 10px;
}

table , th , td {
    border: 1px solid #111;
    border-collapse: collapse;
}

caption {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 6px;
}

th , td {
    padding: 4px 6px;
}

.button-activar{
    background-color: #43A047;
    color: #fff;
    width: 100px;
    border-radius: 5px;
    padding: 2px 8px;
    border: none;
    cursor: pointer;
    margin-right:4px;
}

.button-bloquear{
    background-color:#E53935;
    color: #fff;
    border-radius: 5px;
    padding: 2px 8px;
    border: none;
    cursor: pointer;
}









